body {
    background: linear-gradient(0deg, #ffc1cc, #ffe6f0);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    justify-items: center;
}
h1{
    color: #ff1a75;
    text-align: center;
    font-size: 3rem;
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
}
@keyframes fadeIn {
    from{opacity: 0; transform: translateY(20px);}
    to{opacity: 1; transform: translateY(0);}
}
.hello-note {
    margin: 0 auto;
    text-align: center;
    color: #ff4d88;
    font-size: 2rem;
    max-width: 600px;
    padding: 0 20px;
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(-40);
}
.hello-note.show{
    opacity: 1;
    transform: translateY(0);
}
